body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}

*{
    transition: all .2s linear;
    scroll-behavior: smooth; 
    text-decoration: none;
    box-sizing: border-box;
}
nav{
    padding: 5px 80px;
    font-size: 15px;
    background-color: white;
    background-image: url("assets/line-top.jpg");
    background-repeat: repeat-x;
    background-size: auto;
}
.icon-bar{
    background-color:black;
}
nav li{
    margin-top: 5px;
}
#myNavbar li a{
    color:black;
}
#myNavbar li a:hover{
    background-color: transparent;
}
.logo{
    height: 3.3rem;
}  
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown a i{
    margin-left: 6px;
    font-size: 9px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
} 
.signin{
    color:#d63e38;
    font-weight: 600;
}
.bkg{
    background-image: url("assets/header_img.jpg");
    height: 308px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}  
.image-text h1{
    color:red; 
    font-size: 26px;
    font-weight: 500; 
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid white;
    padding: 8px; 
    position: absolute;
    top: 140px;
    right: 70px;
}
.icons{
    overflow: hidden;
}
.icons1{
    position: absolute;
    top: 80%;
    right: 65px;
    cursor: pointer;
}
.icons ul{
    list-style: none;
}
.icons li{
    display: inline;
}
.icons .fab{
    padding: 10px;
    font-size: 16px;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    background: white;
}
.icons .fab:hover{
    opacity: 0.6;
}
.fa-linkedin-in {
    color:#007bb5;
}
.fa-facebook-f {
    color:#3B5998;
    padding-left: 13px !important;
    padding-right: 13px !important;
}
.fa-google-plus-g {
    color:#dd4b39;
    padding: 12px 10px 12px 10px !important;
} 
.fa-twitter {
    color: #55ACEE;
}
.fa-instagram {
    color: rgb(255, 112, 136);
}
.fa-whatsapp{
    color:green;
}
.fa-envelope{
    color:red;
}
.exam_section{
    padding: 10px;
    border-bottom: 4px solid rgb(233, 233, 233, 0.6);
}
.exam_section li{
    list-style: none;
    display: inline;
    margin-left: 5px;
    font-size: 15px;
}
.exam_section li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.btn1{
    margin-left: 1.5%;
    padding: 10px 7px;
}
.btn1:hover{
    background-color: rgb(212, 211, 211, 0.6);
    color: red;
    border-radius: 4px;
}
.fa-th{
    margin: 0 10px 0 3px;
    font-size: 20px;
}
/*left side bar*/
.row.content{
    height: 1500px
}
.sidenav {
    height: 100%;
}
.sidenav h4{
    color:red;
    font-weight: 500;
    margin-top: 30px;
}
.table-bordered{
    width: 100%;
    margin-top: 2px;
}
.table-bordered td{
    width: auto;
    color: red;
    font-size: 18px;
    padding: 4px 8px;
    text-decoration: none;
}
.first{
    font-size: 33px;
}
.second{
    padding-left: 15px;
    text-align: justify;
    padding-right: 120px;
    margin-top: 10px;
}
.third{
    margin: 0px 5px;
    color: red;
    transition: 1s;
}
.btns2:active{
    transform: rotate(90deg);
}
.btns2{
    background-color: white;
    border: none;
}
.table2{
    width: 100%;
    margin: 10px 0px;
    display: none;
}
.table2 tr:nth-child(odd){
    background-color: #f2f2f2;
    width: 300px;
    display: block;
}
/*Right side body*/
.clear_div{
    margin-top: 2%;
    border: 1px solid rgb(8, 8, 8, 0.7);
    padding: 10px 0;
    position: relative;
}
.btns1{
    padding: 3px 10px;
    margin: 0px 10px 6px 10px;
    width: 14rem;
}
.clear_all{
    padding: 3px;
    position: absolute;
    color: rgb(4, 4, 211);
    top: 2px;
    right: 10px;
}
.btns1 span{
    font-size: 16px;
    margin-left: 7px;
    color:blue;
}
/* select input*/
form {
    position: absolute;
    right: 20px;
}
form select{
    width: 280px;
    padding: 5px 15px 5px 5px;
}
select {
    background-color: white;
    border: thin solid black;
    display: inline-block;
    line-height: 1.5em;
    margin: 0;      
    padding: 10px ;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
  }
select.classic {
    background-image:
      linear-gradient(45deg, transparent 50%, white 50%),
      linear-gradient(135deg, white 50%, transparent 50%),
      linear-gradient(to right, red, red);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.8em 2.5em;
    background-repeat: no-repeat;
    padding-right: 50px;
}
select:focus{
    border-color: gray;
    outline:none;
}
/* cards*/
.card {
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 6px lightgrey;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 60px;
}
.image-card{
    overflow: hidden;
    position: relative;
}
.image-card img{
    transition: 2s;
}
.image-card img:hover{
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.top-right{
    position: absolute;
    top: -3px;
    right: 16px;
}
.fa-bookmark{
    font-size: 25px;
    color: #FFC000;
    text-shadow:-1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}
.image-card img{
    width: 100%;
    height: 230px;
}
.checked{
    color: yellow;
}
.brochure{
    background-color: red;
    color:white;
    border: .2px solid white;
    padding: 5px 19px;
    margin-top: 5px;
}
.for_sm{
    font-size: 12px;
    margin-left: 20px;
}
.pagination{
    margin-left: 20%;
    margin-top: -30px;
}
.pagination li a{
    color: black;
    padding: 10px 15px;
    margin: 0 1px;
}
/* footer*/
footer{
    position: bottom;
    background-color: #333333;
    color: white;
    padding-top: 40px;
}
.subcsribe input{
    border: none;
    background-color: transparent;
    outline: none;
    width: 70%;
}
.subcsribe span{
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 10px 25px;   
}
.subcsribe span button{
    background: transparent;
    border: none;
}
.subcsribe form{
    width: 65%;
    margin-top: 20px;
}
.fw-bold{
    font-weight: 700;
}
.links_div ul{
    list-style: none;
}
.links_div ul li{
    line-height: 25px;
}
.links_div a{
    text-decoration: none;
    color:white;
}
.copyright{
    text-align: center;
    padding-top: 10px;
    background-color: #222222;
    margin-top: 10px;
}
/* media query for responsive design*/
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    } 
    .bkg{
        background-image: url("assets/hh1.jpg");
    }
    .subcsribe{
        overflow: hidden;
    }
    nav{
        padding: 5px;
    }
    .image-text h1{
        font-size: 20px;
    }
    .icons1{
        top:68%;
    }
    .exam_section{
        padding: 0px 0;
    }
    .btn1{
        margin-left: -10px;
    }
    .clear_div{
        padding-top: 40px;
    }
    .card_first{
        margin-top: 5%;
    }
    .pagination{
        margin-left: 10%;
    }
    .brochure{
        line-height: 15px;
    }
}
@media only screen and (max-width: 600px) {
    .card_first{
        margin-top: 14%;
    }
    .card{
        margin-bottom: 45px;
    }
    form select{
        width: 230px;
    }
}